.new-collection {
    max-width: 1440px;
    min-height: 471px;
    background-image: url('../image/background_new-collection.jpg');
    padding: 121px 0 0 144px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

@media (max-width: 1023px) {
    .new-collection {
        padding: 60px 0 0 80px;
        background-position: -310px 0;
    }
}

@media (max-width: 767px) {
    .new-collection {
        padding: 60px 20px 0 40px;
        background-position: -430px 0;
    }
}

.new-collection__subtitle {
    max-width: 556px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    margin: 0;
}

.new-collection__title {
    max-width: 556px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #000000;
    margin: 10px 0 0 0;
}

@media (max-width: 1023px) {
    .new-collection__title {
        font-size: 30px;
        line-height: 40px;
    }
}

.new-collection__text {
    max-width: 425px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C6C;
    margin: 10px 0 30px 0;
}

@media (max-width: 1023px) {
    .new-collection__text {
        font-size: 14px;
        line-height: 22px;
        margin: 25px 0 50px 0;
    }
}

.new-collection__link {
    color: #AC1313;
}

.button_place_new-collection {
    margin: 0;
    text-align: center;
    padding: 0;
    width: 195px;
    transition: color .3s ease;
}

.button_place_new-collection:hover {
    background-color: #CD7171;
    opacity: 1;
    cursor: pointer;
    transition: color .3s ease;
}
