.subscription {
    max-width: 1440px;
    padding: 243px 0 134px 0;
    position: relative;
}

@media (max-width: 1023px) {
    .subscription {
        padding: 200px 0 110px 0;
    }
}

@media (max-width: 767px) {
    .subscription {
        padding: 140px 0 50px 0;
    }
}

.section__subtitle_subscription {
    position: relative;
    font-weight: 400;
    margin-right: 11px;
}

.section__subtitle_subscription::after {
    position: absolute;
    content: '';
    background-image: url(../../image/message.svg);
    background-size: contain;
    width: 80px;
    height: 80px;
    top: -120px;
    left: 47%;
}

@media (max-width: 1023px) {
    .section__subtitle_subscription::after {
        width: 60px;
        height: 60px;
        top: -100px;
        left: calc(50% - 30px);
    }
}

@media (max-width: 767px) {
    .section__subtitle_subscription::after {
        width: 50px;
        height: 50px;
        top: -90px;
        left: calc(50% - 25px);
    }
}

.section__title_subscription {
    font-weight: 400;
}

.form-subscription {
    max-width: 505px;
    min-height: 133px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .form-subscription {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.form-subscription__field{
    width: 320px;
    height: 45px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    color: #A1A1A1;
    padding-left: 42px;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .form-subscription__field {
        width: 184px;
        margin: 0 0 10px 0;
    }
}

.form-subscription__button {
    width: 175px;
    height: 45px;
    background: #000000;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .form-subscription__button {
        width: 184px;
    }
}

.form-subscription__button:hover {
    opacity: .6;
    cursor: pointer;
    transition: opacity .3s ease;
}

.form-subscription__checkbox {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.form-subscription__checkbox-invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form-subscription__checkbox-pseudo {
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #6C6C6C;
}

.form-subscription__checkbox-invisible:checked + .form-subscription__checkbox-pseudo {
    background-color: #8534FF;
}

.form-subscription__checkbox-invisible:focus + .form-subscription__checkbox-pseudo {
    border: 1px solid rgba(235, 185, 106, 1);
}

.form-subscription__checkbox-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #A1A1A1;
    margin: 0 0 0 10px;
}

.title-aside-subscription {
    position: absolute;
    left: 84.5%;
    top: 32%;
    font-size: 15px;
    line-height: 34px;
}

@media (max-width: 1023px) {
    .title-aside-subscription {
        left: 75%;
    }
}