@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  max-width: 1440px;
  /* height: 91px; */
  padding: 0 155px 0 128px;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  min-width: 335px;
  display: flex;
  min-height: 38px;
  border-right: 1px solid #EBEBEB;
  align-items: center;
  padding-right: 10px;
  margin: 0;
}

.header__logo {
  width: 119px;
  height: 45px;
  margin: 19px 0 0 0;
}

.header__links {
  box-sizing: border-box;
  padding: 26px 0;
  display: flex;
}

.header__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #6C6C6C;
  margin-right: 40px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__cart {
  align-self: center;
  text-decoration: none;
  display: flex;
}



.header__cart-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin: 0 5px 0 16px;
}

.header__cart-text {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  align-items: center;
}

.promo {
  max-width: 1440px;
  height: 708px;
  background-image: url('../image/promo-background.png');
  background-repeat: no-repeat;
  padding: 94px 32px 0 0;
  box-sizing: border-box;
}

.promo__container {
  max-width: 1252px;
  min-height: 500px;
  display: flex;
  margin: 0 0 0 148px;
  position: relative;
}

.promo__text {
  z-index: 2;
  max-width: 512px;
  margin-top: 40px;
}

.promo__author {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
  margin-top: 60px;
}



.promo__title {
  width: 422px;
  height: 116px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  position: relative;
  margin: 0;
}

.promo__title::after {
  content: '';
  position: absolute;
  background-image: url(../image/&.svg);
  width: 57px;
  height: 68px;
  background-repeat: no-repeat;
  top: -15px;
  right: -60px;
}

.promo__slogan {
  width: 512px;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6C6C6C;
  margin: 14px 0 49px 0;
}

.promo__image {
  z-index: 1;
  width: 784px;
  height: 445px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  right: -5px;
}

.promo__button {
  width: 201px;
  height: 62px;
  background: #AC1313;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.categories {
  padding: 120px 0 0 0;
}

.section__subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
  margin: 0;
}

.section__title-block {
  margin: 10px 0 28px 0;
  display: flex;
  justify-content: center;
}

.section__title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.section__title-image {
  display: block;
  background-image: url(../image/&.svg);
  width: 57px;
  height: 68px;
  background-repeat: no-repeat;
  margin: 15px 0px 0 2px;
}

.categories__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1022px;
  height: 240px;
  margin: 0 auto;
  padding-right: 46px;
}

.categories__item {
  box-sizing: border-box;
  width: 240px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 118px;
  position: relative;
  border: 30px solid rgba(0, 0, 0, 0.05);
  border-radius: 100%;
}

.categories__item_color_biege {
  background: #E4B366;
}

.categories__item::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 45px;
  left: 55px;
}

.categories__item_color_biege::after {
  background-image: url(../image/vase.svg);
}

.categories__item_color_orange {
  background: #F05B10;
}

.categories__item_color_orange::after {
  background-image: url(../image/mugs.svg);
}

.categories__item_color_red {
  background: #A21010;
}

.categories__item_color_red::after {
  background-image: url(../image/plates.svg);
}

.categories__decriptoins {
  max-width: 1172px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 133px;
   margin: 57px auto 135px auto;
}

.categories__decriptoins-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  max-width: 323px;
}


.categories__decriptoins-text {
  max-width: 501px;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
}

.featured-products {
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
}

.featured-products-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 195px 0;
  padding: 220px 0 120px 45px;
}

.featured-products__image {
  max-width: 500px;
  height: 220px;
  background-color: #F5F5F5;
  position: relative;
}

.featured-products__image::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  width: 250px;
  height: 509px;
  top: -65%;
  left: 25%;
}

.featured-products__image_color_gold::after {
  background-image: url(../image/image-vase2.png);
}

.featured-products__image_color_orange::after {
  width: 350px;
  background-image: url(../image/image-vase.png);
  top: -45%;
  left: 13%;
}

.featured-products__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin: 20px 0 23px 0;
}

.featured-products__text {
  max-width: 388px;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
  margin: 0 0 27px 0;
}

.featured-products__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.store {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
}

.section__title_place_store {
  margin: 14px 0 63px 20px;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1152px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.table__text {
font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #6C6C6C;
margin: 12px 0 0 0;
}

.table__price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin: 0 0 17px 0;
}

.table__cell {
  list-style: none;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 20px;
}

.selection-card {
  text-decoration: none;
}

.button {
  margin: 40px auto 0 auto;
  width: 214px;
  height: 61px;
  background: #AC1313;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  text-align: end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 30px 0 0;
  box-sizing: border-box;
}

.new-collection {
  width: 100%;
  min-height: 471px;
  background-image: url('../image/background_new-collection.jpg');
  padding: 121px 0 0 144px;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.new-collection__subtitle {
  max-width: 556px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
  margin: 0;
}

.new-collection__title {
  max-width: 556px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #000000;
  margin: 10px 0 0 0;
}

.new-collection__text {
  max-width: 425px;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #6C6C6C;
  margin: 10px 0 30px 0;
}

.new-collection__link {
  color: #AC1313;
}

.button_place_new-collection {
  margin: 0;
  text-align: center;
  padding: 0;
  width: 195px;
}

.subscription {
  width: 100%;
  padding: 241px 0 134px 0;
}

.section__subtitle_place_subscription {
  position: relative;
}

.section__subtitle_place_subscription::after {
  position: absolute;
  content: '';
  background-image: url(../image/message.svg);
  width: 80px;
  height: 80px;
  top: -120px;
  left: 680px;
}

.form-subscription {
  width: 505px;
  height: 133px;
  margin: 0 auto;
}

.form-subscription__field{
  width: 320px;
  height: 45px;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  color: #A1A1A1;
  padding-left: 50px;
  margin-right: 5px;
}

.form-subscription__button {
  width: 175px;
  height: 45px;
  background: #000000;
  border: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.form-subscription__checkbox {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form-subscription__checkbox-invisible {
  position: absolute;
  width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
  height: 1px;
  overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. Мы его ещё изучим, оно скрывает элементы, выходящие за границы родителя */
  clip: rect(0 0 0 0); 
}

.form-subscription__checkbox-pseudo {
  width: 13px;
  height: 13px;
  border: 1px solid #6C6C6C;
}

.form-subscription__checkbox-invisible:checked + .form-subscription__checkbox-pseudo {
  background-color: #8534FF;
}

.form-subscription__checkbox-invisible:focus + .form-subscription__checkbox-pseudo {
  border: 1px solid rgba(235, 185, 106, 1);
}

.form-subscription__checkbox-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #A1A1A1;
  margin: 0 0 0 10px;
}