@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  max-width: 1440px;
  /* height: 91px; */
  padding: 0 155px 0 128px;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  min-width: 335px;
  display: flex;
  min-height: 38px;
  border-right: 1px solid #EBEBEB;
  align-items: center;
  padding-right: 10px;
  margin: 0;
}

.header__logo {
  width: 119px;
  height: 45px;
  margin: 19px 0 0 0;
}

.header__links {
  box-sizing: border-box;
  padding: 26px 0;
  display: flex;
}

.header__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #6C6C6C;
  margin-right: 40px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__cart {
  align-self: center;
  text-decoration: none;
  display: flex;
}



.header__cart-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin: 0 5px 0 16px;
}

.header__cart-text {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  align-items: center;
}

.promo {
  max-width: 1440px;
  height: 708px;
  background-image: url('../image/promo-background.png');
  background-repeat: no-repeat;
  padding: 94px 32px 0 0;
  box-sizing: border-box;
}

.promo__container {
  max-width: 1252px;
  min-height: 500px;
  display: flex;
  margin: 0 0 0 148px;
  position: relative;
}

.promo__text {
  z-index: 2;
  max-width: 512px;
  margin-top: 40px;
}

.promo__author {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
  margin-top: 60px;
}



.promo__title {
  width: 422px;
  height: 116px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  position: relative;
  margin: 0;
}

.promo__title::after {
  content: '';
  position: absolute;
  background-image: url(../image/&.svg);
  width: 57px;
  height: 68px;
  background-repeat: no-repeat;
  top: -15px;
  right: -60px;
}

.promo__slogan {
  width: 512px;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6C6C6C;
  margin: 14px 0 49px 0;
}

.promo__image {
  z-index: 1;
  width: 784px;
  height: 445px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  right: -5px;
}

.promo__button {
  width: 201px;
  height: 62px;
  background: #AC1313;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.categories {
  padding: 120px 0 0 0;
}

.section__type {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
  margin: 0;
}

.section__title {
  margin: 10px 0 28px 0;
  display: flex;
  justify-content: center;
}

.section__title-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.section__title-image {
  display: block;
  background-image: url(../image/&.svg);
  width: 57px;
  height: 68px;
  background-repeat: no-repeat;
  margin: 15px 0px 0 2px;
}

.categories__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1022px;
  height: 240px;
  margin: 0 auto;
  padding-right: 46px;
}

.categories__item {
  box-sizing: border-box;
  width: 240px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 118px;
  position: relative;
  border: 30px solid rgba(0, 0, 0, 0.05);
  border-radius: 100%;
}

.categories__item_color_biege {
  background: #E4B366;
}

.categories__item::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 45px;
  left: 55px;
}

.categories__item_color_biege::after {
  background-image: url(../image/vase.svg);
}

.categories__item_color_orange {
  background: #F05B10;
}

.categories__item_color_orange::after {
  background-image: url(../image/mugs.svg);
}

.categories__item_color_red {
  background: #A21010;
}

.categories__item_color_red::after {
  background-image: url(../image/plates.svg);
}

.categories__decriptoins {
  max-width: 1172px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 133px;
   margin: 57px auto 135px auto;
}

.categories__decriptoins-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  max-width: 323px;
}


.categories__decriptoins-text {
  max-width: 501px;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
}

.featured-products {
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
}

.featured-products-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 195px 0;
  padding: 220px 0 120px 45px;
}

.featured-products__image {
  max-width: 500px;
  height: 220px;
  background-color: #F5F5F5;
  position: relative;
}

.featured-products__image::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  width: 250px;
  height: 509px;
  top: -65%;
  left: 25%;
}

.featured-products__image_color_gold::after {
  background-image: url(../image/image-vase2.png);
}

.featured-products__image_color_orange::after {
  width: 350px;
  background-image: url(../image/image-vase.png);
  top: -45%;
  left: 13%;
}

.featured-products__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin: 20px 0 23px 0;
}

.featured-products__text {
  max-width: 388px;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
  margin: 0 0 27px 0;
}

.featured-products__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}